{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml", "*.json", "*.md", ".prettierrc", "*.html", "*.astro"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
