---
import Container from "../Container.astro";
import Link from "../Ui/Link.astro";
---

<Container>
  <section id="hero" class="flex min-h-screen flex-col justify-center px-3 py-12 lg:p-20">
    <p class="text-purple-700 dark:text-purple-300 lg:text-lg">Hi, my name is</p>
    <h1
      class="flex flex-col pt-3 text-2xl font-extrabold text-gray-800 dark:text-gray-200 md:block md:text-4xl lg:text-5xl xl:text-6xl"
    >
      Calum <span>Mackenzie-Chambers.</span>
    </h1>

    <h2
      class="pb-5 font-serif text-2xl text-gray-600 dark:text-gray-400 md:flex md:flex-col md:p-0 md:text-4xl lg:text-5xl"
    >
      <span>Transforming ideas into reality,</span>
      <span>one line of code at a time.</span>
    </h2>
    <p
      class="prose py-2 leading-snug text-gray-600 dark:text-gray-400 md:py-5 lg:text-justify lg:text-lg"
    >
      I'm a software engineer and QA Manager with 3 years of experience, specializing in creating
      efficient and high-quality digital products. Currently, I'm working at Infuse IT while also
      offering freelance web development services.
    </p>
    <Link
      href="#contact"
      style="transparentPrimary"
      class="my-5 max-w-max self-center font-semibold md:my-2 md:self-start"
    >
      Contact Me
    </Link>
  </section>
</Container>
