---
import Container from "../Container.astro";
---

<Container>
  <section id="services" class="flex min-h-screen flex-col p-3 lg:p-20">
    <h2 class="text-2xl font-extrabold text-gray-800 dark:text-gray-200 md:text-3xl lg:text-4xl">
      Services
    </h2>
    <div class="mt-10 grid gap-4 md:grid-cols-2 lg:grid-cols-3">
      <!-- Single Page Websites -->
      <div class="rounded-lg bg-white p-5 shadow-md dark:bg-gray-800">
        <!-- Add visual logo here -->
        <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Single Page Websites</h3>
        <p class="mt-5 text-gray-600 dark:text-gray-400">
          I create visually appealing and optimized single page websites that deliver your message
          effectively and provide an excellent user experience.
        </p>
      </div>

      <!-- Multi Page Websites -->
      <div class="rounded-lg bg-white p-5 shadow-md dark:bg-gray-800">
        <!-- Add visual logo here -->
        <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Multi Page Websites</h3>
        <p class="mt-5 text-gray-600 dark:text-gray-400">
          I develop multi page websites with clear navigation, ensuring a seamless browsing
          experience for your users, and helping you showcase all aspects of your business or
          project.
        </p>
      </div>

      <!-- Full Stack Responsive Applications -->
      <div class="rounded-lg bg-white p-5 shadow-md dark:bg-gray-800">
        <!-- Add visual logo here -->
        <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
          Full Stack Responsive Applications
        </h3>
        <p class="mt-5 text-gray-600 dark:text-gray-400">
          I build full stack responsive applications tailored to your specific needs, ensuring they
          function flawlessly on all devices and provide the best user experience possible.
        </p>
      </div>

      <!-- Upgrade Existing Sites -->
      <div class="rounded-lg bg-white p-5 shadow-md dark:bg-gray-800">
        <!-- Add visual logo here -->
        <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Upgrade Existing Sites</h3>
        <p class="mt-5 text-gray-600 dark:text-gray-400">
          I can upgrade and enhance existing websites, improving performance, optimizing assets, and
          ensuring compatibility across all platforms and devices.
        </p>
      </div>

      <!-- Extensive QA & Automated Testing -->
      <div class="rounded-lg bg-white p-5 shadow-md dark:bg-gray-800">
        <!-- Add visual logo here -->
        <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
          Extensive QA & Automated Testing
        </h3>
        <p class="mt-5 text-gray-600 dark:text-gray-400">
          With my extensive experience in QA, I ensure that each website is rigorously tested on all
          platforms. I can even guide you in setting up your own automated test suite using Infuse
          IT's low-code automation software, useMango.
        </p>
      </div>
    </div>
    <div class="mt-10">
      <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">Tools & Technologies</h3>
      <p class="mt-5 text-gray-600 dark:text-gray-400">
        I have experience with a wide range of tools and technologies, allowing me to choose the
        best solutions for your project. Some of the tools I am proficient with include:
      </p>
      <ul class="mt-5 grid grid-cols-2 gap-4 md:grid-cols-4">
        <li>ReactJS</li>
        <li>Astro</li>
        <li>Typescript</li>
        <li>Rust</li>
        <li>Vite</li>
        <li>Webpack</li>
        <li>Svelte</li>
        <li>GoLang</li>
        <li>MongoDB</li>
        <li>PostgreSQL</li>
        <li>Various ORMs</li>
        <li>and more...</li>
      </ul>
    </div>
  </section>
</Container>
