<div class="block lg:hidden">
  <div class="relative inline-block h-6 w-8 cursor-pointer" id="hamburger-menu">
    <span
      class="absolute top-0 h-[0.19rem] w-full rounded bg-gray-800 transition-all duration-300 ease-in-out dark:bg-gray-200"
      id="bar1"></span>
    <span
      class="absolute top-3 h-[0.19rem] w-full rounded bg-gray-800 transition-all duration-300 ease-in-out dark:bg-gray-200"
      id="bar2"></span>
    <span
      class="absolute top-6 h-[0.19rem] w-full rounded bg-gray-800 transition-all duration-300 ease-in-out dark:bg-gray-200"
      id="bar3"></span>
  </div>
</div>
