---
import ThemeToggle from "./ThemeToggle.astro";
import Logo from "./Logo.astro";
import Container from "../Container.astro";
import Hamburger from "./Hamburger.astro";
import MenuItems from "./MenuItems.astro";
import Socials from "./Socials.astro";
---

<header class="sticky top-0 z-50 bg-transparent bg-opacity-5 shadow-lg backdrop-blur">
  <Container class="flex flex-col items-center justify-between py-5 lg:grid lg:grid-cols-3">
    <div class="flex w-full items-center justify-between lg:w-auto" style="flex: 1 1 auto;">
      <Logo />
      <Hamburger />
    </div>
    <MenuItems />
    <div class="hidden items-center justify-end lg:flex lg:w-auto" style="flex: 1 1 auto;">
      <Socials />
      <ThemeToggle idModifier="lg" />
    </div>
  </Container>
</header>

<script src="./Header.ts"></script>
