---
interface Props {
  className?: string;
}

const { className }: Props = Astro.props;

const list = "inline-block fill-current " + className;

import Link from "../Ui/Link.astro";
import Github from "../../images/Github.astro";
import LinkedIn from "../../images/LinkedIn.astro";
---

<div class="mt-0 flex w-auto">
  <ul class="flex flex-row">
    <li>
      <Link
        href="https://github.com/CalumMackenzie-Chambers/portfolio-website"
        style="nav"
        target="_blank"
      >
        <Github className={list} />
      </Link>
    </li>
    <li>
      <Link
        href="https://www.linkedin.com/in/calum-mackenzie-chambers/"
        style="nav"
        target="_blank"
      >
        <LinkedIn className={"inline-block fill-current " + className} />
      </Link>
    </li>
  </ul>
</div>
