---
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = "Calum Dev", description = "The personal site of Calum Mackenzie-Chambers" } =
  Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" href="/chevron.ico" />

<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
