@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0deg, 0%, 100%;
    --foreground: 222.2deg, 84%, 4.9%;

    --primary: 262deg, 83%, 58%;
    --primary-hover: 262deg, 83%, 62%;
    --primary-muted: 259deg, 84%, 92%;
    --primary-foreground: 210deg, 20%, 98%;

    --muted-background: 210deg, 40%, 96.1%;
    --muted-foreground: 215.4deg, 16.3%, 46.9%;

    --danger: 347deg, 77%, 50%;
    --danger-hover: 347deg, 75%, 46%;
    --danger-muted: 354deg, 85%, 92%;
    --danger-foreground: 356deg, 100%, 97%;

    --border: 214.3deg, 31.8%, 91.4%;
  }

  .dark {
    --background: 222.2deg, 84%, 4.9%;
    --foreground: 210deg, 40%, 98%;

    --primary: 262.1deg, 83.3%, 57.8%;
    --primary-hover: 263deg, 68%, 46%;
    --primary-muted: 255deg, 62%, 14%;
    --primary-foreground: 210deg, 20%, 98%;

    --muted-background: 217.2deg, 32.6%, 17.5%;
    --muted-foreground: 215deg, 20.2%, 65.1%;

    --danger-muted: 356deg, 39%, 19%;

    --border: 217.2deg, 32.6%, 17.5%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-base-background text-base-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .details-none {
    list-style: none;
  }

  .details-none summary::-webkit-details-marker {
    display: none;
  }

  .details-none summary::marker {
    display: none;
  }

  .details-none > summary {
    list-style: none;
  }

  .text-balance {
    text-wrap: balance
  }

  .bg-texture {
    background-color: var(--background);
    background-image: var(--bg-texture);
  }
}
