---
import Nav from "../components/Header/Nav.astro";
import Head from "../components/Head.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="bg-gray-200 dark:bg-gray-800">
    <Nav />
    <slot />
  </body>
</html>
